:root {
    /* --primary-color: #007bff;
    --secondary-color: #6c757d;
    --text-color: #333;
    --background-color: #fff;
    --accent-color: #ff5722; */
    
    --background-color:#f5f0e1;
    --lightbgColor:#AED8CC;
    --nav-color:#1e3d59;
    --yellowColor:#ffc13b;
    --orangeColor:#ff6e40;
    /* Add more variables as needed */
}