.location-form{
    list-style: none;
    margin: 0 auto;
    padding: 1.8rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 3px 10px var(--nav-color);
    border-radius: 10px;
    color:var(--background-color);
    background: var(--nav-color);
}

form-control {
    margin: 1rem 0;
  }
  
  .form-control label,
  .form-control input,
  .form-control textarea {
    display: block;
    font-family: 'Kalam', cursive;
    
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    font-size: 1.1rem;
    
  }
  
  .form-control input[type="text"],
  .form-control textarea {
    width: 100%;
    font: inherit;
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    background: #f8f8f8;
    letter-spacing: 1px;
    padding: 0.15rem 0.25rem;
    resize: none;
  }
  
  .form-control input[type="text"]:focus,
  .form-control textarea:focus {
    outline: none;
    background: var(--background-color);
    border-color: var(--background-color);
  }
  
.form-control button {
background-color: var(--lightbgColor);
border: 1px solid var(--background-color);
padding:0.5rem 1rem;
border-radius: 10px; 
color:var(--nav-color);;
display:block;
margin:0 auto;
cursor:pointer;
transition: background 0.1s ease-in;
font-family: 'Kalam', cursive;

}
.form-control button:hover{
  background-color: transparent;
  color:var(--background-color);
}

.inputfile{
  display: block;
  background-color:transparent;
  border:none;
}

input[type=file]::file-selector-button {
padding:0.5rem 1rem;
color:var(--nav-color);
background-color: var(--lightbgColor);
border-radius: 10px; 
cursor:pointer;
border: 1px solid var(--background-color);
font-family: 'Kalam', cursive;
margin: 5px 10px 0px 0px;
}
input[type=file]::file-selector-button:hover{
  background-color: transparent;
  color:var(--background-color);
  /* margin: 10px; */
}