@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import './common/constants/color.css';
*{
  box-sizing: border-box;
}

html {
  font-family: 'Indie Flower', cursive;
}


body {
    margin: 0;
    background:var(--background-color);
     /* #461959; */
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tring{
    color:var(--ligthbgColor);
    color:var(--yellowColor);
    /* #CD6688; */
    color:var(--background-color);
    /* #7A316F; */
    color:var(--background-color);
    /* #461959 ; */
}
    